# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore lsp related things
.project
.settings/
app/.classpath
app/.project
app/.settings/
app/bin/
